---
layout: base
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}
<article>

    <div class="project-container">
        <header class="project-header">
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
            <br>
            <p>
            Have a project you'd like listed? Email the club:
            <br>
            <a href="mailto:computer-graphics-club@sjsu.edu">computer-graphics-club@sjsu.edu</a>
            </p>
        </header>

        <section class="project-section">
            {{ content }}
            <!-- {% include _social.html %} -->
        </section>
        <!--
        <footer>
            <address>

            </address>

        </footer>

        -->
        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>
